<ion-header translucent="true">
  <app-search-bar>
    <ion-title class="ion-text-center" color="primary">Medicare</ion-title>
  </app-search-bar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Consult the best doctors</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [ngModel]="filter" placeholder="Filter the doctors"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let doctor of doctors" size="12" size-md="6">
        <app-doctor-card [routerLink]="'/patient/doctor/' + doctor.id" [state]="{doctor: doctor}"
                         img="assets/images/avatar.jpg" name="{{doctor.name}}"
                         title="{{doctor.specializations.join(',')}}" note="{{doctor.insurance.join(',')}}">
          <p>
            {{doctor.description}}
          </p>
        </app-doctor-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar class="tabbar" slot="bottom">
      <ion-tab-button class="tab-button" *ngFor="let tab of tabs" >
        <ion-icon name={{tab.icon}}></ion-icon>
        <ion-label>{{tab.name}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
<!-- (click)="visit(tab.path)" -->