<ion-header translucent="true">
  <app-search-bar (onSearch)="search($event)">
    <ion-title class="ion-text-center" color="primary">Medicare</ion-title>
  </app-search-bar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Main application dashboard screen</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="Example inner search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let i of [].constructor(10)">
    <app-doctor-card img="assets/images/avatar.jpg" name="Hamada Doctor" title="Oncology" note="Medicare Others">
      <p>Doctor description</p>
    </app-doctor-card>
  </ion-card>
</ion-content>

