<ion-header translucent="true">
  <app-search-bar (onSearch)="search($event)">
    <ion-title class="ion-text-center" color="primary">Medicare</ion-title>
  </app-search-bar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Main application dashboard screen</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="Example inner search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let i of [].constructor(10)">
    <ion-card-content>
      List Entries {{i}}
    </ion-card-content>
  </ion-card>
</ion-content>

