.login {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 15px #3a7be0;
  padding: 2px 16px;
  max-width: 300px;
}

.button-center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
