<ion-header translucent="true">
  <app-search-bar (onSearch)="search($event)">
    <ion-title class="ion-text-center" color="primary">Medicare</ion-title>
  </app-search-bar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Main application dashboard screen</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [ngModel]="filter" placeholder="Example inner search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
  <ion-row>
    <ion-col *ngFor="let i of [].constructor(10)" size="12" size-md="6">
      <app-doctor-card img="assets/images/avatar.jpg" name="Hamada Doctor" title="Oncology" note="Medicare Others">
        <p>Doctor description</p>
      </app-doctor-card>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
<ion-toolbar>
<ion-tabs>
  <ion-tab-bar class="tabbar" slot="bottom">
    <ion-tab-button class="tab-button" *ngFor="let tab of tabs" (click)="visit(tab.path)">
      <ion-icon name={{tab.icon}}></ion-icon>
      <ion-label>{{tab.name}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
