<ion-toolbar>
  <ion-buttons *ngIf="!showSearchBar" slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ng-content *ngIf="!showSearchBar"></ng-content>
  <ion-searchbar *ngIf="showSearchBar" showCancelButton="always" [(ngModel)]="queryText" (search)="emit(queryText)"
                 (ionCancel)="showSearchBar = false" placeholder="Search"></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button *ngIf="!showSearchBar" (click)="showSearchBar = true">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
