ion-item {
    box-shadow: 0 1px 2px 0 rgba(42, 238, 16, 0.801);
    transition: 1.3s;
    border-radius: 10px !important;
    margin:10px auto;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #0b4991;
    border-bottom: 2px !important;
    width: 90%;
    
  }


  .image-container {
    min-height: 200px;
    background-size: cover;
  }
  
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
  
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
  
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
  
  .one-image {
    margin: 2px;
  }
  img{
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    padding-left: 10px;
  }
  ion-column{
    padding: 10px;
    
  }
  ion-row{
    width: 100%;
    display: flex;
  //align-items: center;
  justify-content: center;
  }
  ion-icon{
    //background-color:#2528d3;
    //color:#2528d3 ;
    //height: 40px;
  }