<ion-content class="doctor-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/patient/doctors"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="doctor-background">
    <img src="assets/images/avatar.jpg" [alt]="doctor?.name">
    <h2>{{doctor?.name}}</h2>
    <h4> {{doctor?.specializations?.join(' ')}} </h4>
    <h5> {{doctor?.insurance?.join(' ')}} </h5>
  </div>
  <div class="ion-padding doctor-detail ion-text-center">
    <p>{{doctor?.description}}</p>

    <hr>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-margin; align=center">
          <ion-chip color="primary">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>Text</ion-label>
          </ion-chip>

          <ion-chip color="primary">
            <ion-icon name="call"></ion-icon>
            <ion-label>Audio</ion-label>
          </ion-chip>

          <ion-chip color="primary">
            <ion-icon name="videocam"></ion-icon>
            <ion-label>Video</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
